<h1><%= t('hd_edit') %></h1>

<%= simple_form_for @job do |f| %>
  <%= f.input :category, :label => t('f_category') %>
  <%= f.input :company, :label => t('f_company') %>
  <%= f.input :title, :label => t('f_title') %>
  <%= f.input :description, :label => t('f_description') %>
  <%= f.input :wage_lower_bound, :label => t('f_salary_min') %>
  <%= f.input :wage_upper_bound, :label => t('f_salary_max') %>
  <%= f.input :contact_email, :label => t('f_email') %>
  <%= f.input :city, :label => t('f_city') %>
  <%= f.input :is_hidden, :label => t('f_job_status') %>

  <%= f.submit t('f_update') %>
<% end %>
