<div class="pull-right">
  <%= link_to(t('btn_add'), new_job_path, :class => "btn btn-default" ) %>
</div>

<!-- dropdown menu for sorting -->
<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to( t('th_company'), jobs_path(:order => "by_company") ) %>
    </li>
    <li>
      <%= link_to( t('th_category'), jobs_path(:order => "by_category") ) %>
    </li>
    <li>
      <%= link_to( t('th_salary_min'), jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
        <%= link_to( t('th_salary_max'), jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to( t('th_published'), jobs_path ) %>
    </li>
  </ul>
</div>

<!-- table -->
<table class="table table-boldered table-striped custab" >
  <thead>
    <tr>

      <td><%= t('th_company') %></td>
      <td><%= t('th_category') %></td>
      <td><%= t('th_position') %></td>
      <td><%= t('th_salary_min') %></td>
      <td><%= t('th_salary_max') %></td>
      <td><%= t('th_published') %></td>
    </tr>

  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
            <%= job.company %>
        </td>
        <td>
            <%= job.category %>
        </td>
        <td>
            <%= link_to(job.title, job_path(job)) %>
        </td>
        <td>
            <%= job.wage_lower_bound %>
        </td>
        <td>
            <%= job.wage_upper_bound %>
        </td>
        <td>
            <%= job.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="text-center">
  <%= will_paginate @jobs %>
</div>
