<div class="container-fluid">
  <div class="col-md-12">
    <section id="job-info">

      <!-- starred / star -->
      <div>
        <% if current_user && current_user.is_follower_of?(@job) %>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <% end %>
      </div>

      <!-- logo -->
      <img class="job-logo" src='http://i.imgur.com/zVU8xTV.jpg'>

      <!-- title -->
      <div class="job-title">
        <%= @job.title %>
      </div>

      <!-- location and salary -->
      <p class="details">
        <i class="fa fa-location-arrow fa-fx" aria-hidden="true"></i>
        <%= @job.city %>

        <i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
        <%= @job.wage_lower_bound / 1000 %> K -
        <%= @job.wage_upper_bound / 1000 %> K
      </p>

      <!-- description -->
      <p>
        <%= simple_format(@job.description) %>
      </p>

      <!-- submit resume -->
      <div class='button'>
        <%= link_to(t('btn_resume'), new_job_resume_path(@job), class: 'btn btn-lg btn-danger button_highlight') %>
      </div>

  </div>
</div>
