<div class="content-section-c">
  <div class="container">
    <h2 class="section-heading">
    <%= t('sec_heading_cooperation') %>
    </h2>
    <p class="lead">
    <%= t('sec_text_cooperation') %>
    </p>

    <div class="list">
      <img class="logo" src='http://i.imgur.com/zVU8xTV.jpg'>
      <img class="logo" src='http://i.imgur.com/xwxpBpK.jpg'>
      <img class="logo" src='http://i.imgur.com/0YBf2Q7.jpg'>
      <img class="logo" src='http://i.imgur.com/SOnKxie.jpg'>
      <img class="logo" src='http://i.imgur.com/Icplc9L.png'>
      <img class="logo" src='http://i.imgur.com/zxIudGK.png'>
    </div>

    <hr>

    <h2 class="section-heading">
    <%= t('sec_heading_hired') %>
    </h2>
    <p class="lead">
    <%= t('sec_text_hired') %>
    </p>

    <div class="list">
      <i class="logo-mini fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-android fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-weixin fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-twitter fa-fw fa-5x"  aria-hidden="true"></i>      <i class="logo-mini fa fa-spotify fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-github fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-youtube fa-fw fa-5x"  aria-hidden="true"></i>
    </div>

    <div class="list">
      <i class="logo-mini fa fa-twitch fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-steam fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-yelp fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-weibo fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-windows fa-fw fa-5x"  aria-hidden="true"></i><i class="logo-mini fa fa-vine fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-soundcloud fa-fw fa-5x"  aria-hidden="true"></i>
    </div>

    <div class="list">
      <i class="logo-mini fa fa-yahoo fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-quora fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-glide fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-telegram fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-css3 fa-fw fa-5x"  aria-hidden="true"></i><i class="logo-mini fa fa-pinterest fa-fw fa-5x"  aria-hidden="true"></i>
      <i class="logo-mini fa fa-angellist fa-fw fa-5x"  aria-hidden="true"></i>
    </div>

    <div container>
      <h2 class="section-heading">
      <%= t('sec_heading_act') %>
      </h2>
      <p class="lead">
      <%= t('sec_text_act') %>
      </p>
      <a href="#" class="btn btn-danger btn-lg button_highlight"><%= t('btn_act') %></a>
    </div>
  </div>
</div>
