<div class="content-section-b">
  <h2 class="section-heading">
    <span class="justify"><%= t('sec_heading_features') %></span>
  </h2>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img class="img-thumbnail" src='http://i.imgur.com/opfdi8A.png'>
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  <%= t('sec_heading_1') %>
                </h2>
                <p class="lead">
                  <%= t('sec_text_1') %>
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img class="img-thumbnail" src='http://i.imgur.com/9ZivQrZ.png'>
            <div class="caption">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                <%= t('sec_heading_2') %>
              </h2>
              <p class="lead">
                <%= t('sec_text_2') %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img class="img-thumbnail" src='http://i.imgur.com/4k52H4g.png'>
            <div class="caption">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                <%= t('sec_heading_3') %>
              </h2>
              <p class="lead">
                <%= t('sec_text_3') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
