<section id="testimony">
    <div class="wrapper">
        <h2 class="section-heading">
          <%= t('sec_heading_testimonial') %>
        </h2>
        <p class="lead">
        <%= t('sec_text_testimonial') %>
        </p>

        <div class="testimony">
            <%= image_tag("testimony_1.jpg") %>
            <p>
              <%= t('sec_text_testimonial_1') %>
            </p>
        </div>
        <div class="testimony">
            <%= image_tag("testimony_2.jpg") %>
            <p>
              <%= t('sec_text_testimonial_2') %>
            </p>
        </div>
        <div class="testimony">
            <%= image_tag(("testimony_3.jpg")) %>
            <p>
              <%= t('sec_text_testimonial_3') %>
            </p>
        </div>
    </div>
</section>
