<!-- cover -->
<div class="jumbotron">
  <!-- title -->
  <h1 class="title"><%= t('logo_title') %></h1>
  <!-- slogan -->
  <p class="slogan">
      <%= t('slogan') %>
  </p>
  <!-- button -->
  <p class="lead">
    <%= link_to t('btn_apply'), fields_index_path, class: 'btn btn-lg btn-danger button_highlight' %>
  </p>
</div>

<%= render :partial => "features" %>
<%= render :partial => "testimonial" %>
<%= render :partial => "company_list" %>
