<!-- cover -->
<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">
        <%= t('logo_title') %>
      </h1>
      <p class="slogan">
        <%= t('slogan') %>
      </p>
      <p class="lead">
        <%= link_to t('btn_apply'), jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<!-- section 1 -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <!-- content -->
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
        <%= t('sec_heading_1') %>
        </h2>
        <p class="lead">
        <%= t('sec_text_1') %>
        </p>
      </div>
      <!-- image -->
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<!-- section 2 -->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <!-- content -->
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
        <%= t('sec_heading_2') %>
        </h2>
        <p class="lead">
        <%= t('sec_text_2') %>
        </p>
      </div>
      <!-- image -->
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<!-- section 3 -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <!-- content -->
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
        <%= t('sec_heading_3') %>
        </h2>
        <p class="lead">
        <%= t('sec_text_3') %>
        </p>
      </div>
      <!-- image -->
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
