<div class='pull-right'>
  <%= link_to(t('btn_add'), new_admin_job_path, :class => 'btn btn-default' ) %>
</div>

<br><br>

<table class="table table-boldered table-striped custab" >
  <thead>
      <tr>
        <td><%= t('th_company') %></td>
        <td><%= t('th_category') %></td>
        <td><%= t('th_position') %></td>
        <td><%= t('th_count') %></td>
        <td><%= t('th_manage') %></td>
        <td><%= t('th_published') %></td>
      </tr>
  </thead>

  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= job.company %>
      </td>
      <td>
        <%= job.category %>
      </td>
      <td>
        <%= link_to(job.title, admin_job_path(job)) %>
      </td>
      <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
      <td>
          <%= link_to(t('btn_edit'), edit_admin_job_path(job)) %>
          |
          <%= link_to(t('btn_delete'), admin_job_path(job), :method => :delete, :data => { :confirm => 'Are you sure?' }) %>

          |
      <% if job.is_hidden %>
        <%= link_to(t('btn_publish'), publish_admin_job_path(job) , :method => :post, :class => 'btn btn-xs btn-default') %>
      <% else %>
        <%= link_to(t('btn_hide'), hide_admin_job_path(job), :method => :post,  :class => 'btn btn-xs btn-default') %>
          <% end %>
      </td>

      <td>
          <%= job.created_at %>
      </td>
    </tr>
  <% end %>
</table>
