


<section id=fields>
  <!-- titile -- >
  <div class="title">
    <%= t('fields_of_work') %>
  </div>

  <!-- fiels of work category list -->
  <div class="container">
      <!-- category 1 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

          <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_1')) do %>
                  <%= t('th_category_1') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 1 end-->
      <!-- category 2 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

          <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_2')) do %>
                <%= t('th_category_2') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 2 end-->
      <!-- category 3 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_3')) do %>
                <%= t('th_category_3') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 3 end-->
      <!-- category 4 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_4')) do %>
                <%= t('th_category_4') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 4 end-->
      <!-- category 5 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_5')) do %>
                <%= t('th_category_5') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 5 end-->
      <!-- category 6 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_6')) do %>
                <%= t('th_category_6') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 6 end-->
      <!-- category 7 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_7')) do %>
                <%= t('th_category_7') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 7 end-->
      <!-- category 8 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_8')) do %>
                <%= t('th_category_8') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 8 end-->
      <!-- category 9 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

            <div class="block">
              <div class='col-lg-12'>
                <i class="fa fa-google fa-fw fa-5x"  aria-hidden="true"></i>
              </div>
              <div class='col-lg-12'>
                <%= link_to jobs_path(:category => t('th_category_9')) do %>
                <%= t('th_category_9') %>
                <% end %>
              </div>
          </div>

      </div>
      <!-- category 9 end-->
  </div><!-- End container -->
</section>
