<h3> Apply for <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content, :label => t('f_content') %>
  <%= f.input :attachment, :label => t('f_attachment') %>
  <%= f.submit t('f_send') %>
<% end %>
