<div id="navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- logo -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' ><%= t('logo_title') %></a>
      </div>
      <!-- welcome page & job/index -->
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to(t('oppotunities'), jobs_path, class: "scroll") %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!-- search bar -->
        <li>
          <div class="form-group form-inline search-bar">
            <%= render :partial => "jobs/search_bar" %>
          </div>
        </li>

        <!-- language_switch -->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('language_switch') %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "簡中版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %></li>
          <li><%= link_to "繁中版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %></li>
          <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
        </ul>
      </li>

        <!-- devise -->
        <% if !current_user %>
          <li><%= link_to(t('sign_up'), new_user_registration_path) %> </li>
          <li><%= link_to(t('login'), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('greeting') %>
                <%= current_user.name %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li> <%= link_to(t('admin_panel'), admin_jobs_path) %> </li>
              <% end %>
              <li><%= link_to(t('starred'), account_jobs_path) %></li>
              <li class="divider"></li>
              <li><%= link_to(t('log_out'), destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
