<div id="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' ><%= t('logo_title') %></a>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- navbar search -->
        <ul class="nav navbar-nav">
          <li>
            <div class="form-group form-inline search-bar">
              <%= render :partial => "jobs/search_bar" %>
            </div>
          </li>
        </ul>

        <!-- navbar dropdown -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div>
              <%= link_to "繁中版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>

              <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
            </div>
            <% if !current_user %>
              <li><%= link_to(t('sign_up'), new_user_registration_path) %> </li>
              <li><%= link_to(t('login'), new_user_session_path) %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t('greeting') %>
                    <%= current_user.name %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                    <li> <%= link_to(t('amin_panel'), admin_jobs_path) %> </li>
                  <% end %>
                  <li> <%= link_to(t('log_out'), destroy_user_session_path, method: :delete) %> </li>
                </ul>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>
